body {
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:14px;
	line-height:21px;
	color:#333;
	background-color:#fff;
	margin:0px;
}

a {
	color:#2e67b1;
	text-decoration:none;
}

a:hover {
	color:#6699cd;
	text-decoration:underline;
}

#container {
	width:980px;
	margin-left:auto;
	margin-right:auto;
}

#page_title {
	padding-top:16px;
}

#page_title_header {
	font-weight:bold;
	font-size:16px;
}

#page_title_text {
	font-size:28px;
	font-weight:bold;
}

#topbar {
	height:80px;
	border-bottom: 1px solid #555;
}

#top_nav {
	padding-top:20px;
	float:right;	
}

#greeting_msg {
	margin-right:10px;
	text-align:right;
}

.nav_item {
	margin-left:10px;
	margin-right:10px;
}

#content {
	clear:both;
	padding:15px;
}

h1 {
	font-size:26px;
}

h2 {
	font-size:23px;
}

h3 {
	font-size:20px;
}

h4 {
	font-size:17px;
}

tab {
	text-indent: 2.0em;
}

.quiz_item_container {
	margin-bottom:10px;
}

.quiz_item_title {
	font-size:16px;
	font-weight:bold;
}

.quiz_item_author {
	font-size:12px;
	color:#aaa;
}

.quiz_item_right {
	float:right;
	font-size:11px;
	line-height:13px;
	text-align:right;
}

.error_message {
	color: #b94a48;
	background-color:#f2dede;
	border:1px solid #eed3d7;
	padding: 8px 14px 8px 14px;
	border-radius: 4px;
	margin: 8px 8px 8px 8px;
}

.no_results{
	color: #b94a48;

}

.search_box{
	width:980px;
	margin-left:50px;
	margin-right:auto;
}

#footer {
	padding-top:15px;
	border-top:1px solid #555;
	font-size:13px;
	color:#bbb;
	text-align:center;
}

.search_user_container {
	margin-bottom:10px;
	margin-right:30px;
	margin-left:30px;
}		

.search_user_name {
	font-size:16px;
	font-weight:bold;
}

.search_user_email {
	font-size:13px;
	color:#aaa;
}

.search_user_right {
	float:right;
	font-size:12px;
	line-height:15px;
	text-align:right;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  font-size: 30px;
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   color: #C9C299;
   content: "\2605";
   position: absolute;
}

.draggable {
    height: 20px;
    background-color: #e6eaff;
    border: 2px solid #3399cc;
    margin-bottom: 1em;
    padding: 3px;
    cursor: default;
    border-radius: 4px;
    display: inline-block;
    font-size:11px;
}
.active {
    border: 2px solid #6699ff;
}